.section-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 47px;
}

.section-table input{
    width: 240px;
    height: 27px;
}

.section-table button{
    margin-top: 10px;
    width: 87px;
    margin-bottom: 22px;
}

.section-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 22px;
}
.names-tr{
    background-color: black;
    color: white;
}

.section-lista  td {
    width: 220px;
    height: 10px;
    font-size: 27px;
    
}
