.login-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(87, 87, 87);
   }
   
   .login{
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   
   .email {
       width: 247px;
       height: 22px;
   }
   .senha {
       width: 247px;
       height: 22px;
       margin-top: 12px;
   }
   
   button{
       margin-top: 10px;
       width: 122px;
       height: 27px;
       cursor: pointer;
   }
   h1{
       display: flex;
       align-items: center;
       justify-content: center;
       padding-bottom: 22px;
   }
   .cadastro{
       padding-top: 10px;
       text-decoration: none;
       cursor: pointer;
       color: white;
   }