.formulario-ajuste{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

body{
    background: linear-gradient(45deg, #130b22, #1a1931);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}