.full-page{
    min-height: 80vh;
    background-image: url("../../../public/Img/city.jpg");
    background-size: cover;
    background-position: center;
}

.website{
    display: flex;
    justify-content: flex-start;
    color: white;
}
.nav-home{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 47px;
    width: 100%;
}

nav a{
    display: flex;
    color: white;
    text-decoration: none;
    padding: 10px;
    padding-left: 47px;
}

body{
    background-color: rgb(90, 90, 90);
}


.header-home{
    width: 100%;
}

.carousel-auto {
  width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 200%; 
  animation: slide 9s infinite;
}

.item {
  flex: 0 0 100%;
  height: 200px;
  background: tomato;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes slide {
  0%   { transform: translateX(0); }
  33%  { transform: translateX(-100%); }
  66%  { transform: translateX(-200%); }
  100% { transform: translateX(0); }
}

