.full-page{
    min-height: 100vh;
    background-image: url("../../../public/Img/city.jpg");
    background-size: cover;
    background-position: center;
}

.website{
    display: flex;
    justify-content: flex-start;
    color: white;
}
.nav-home{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 47px;
    width: 100%;
}

nav a{
    display: flex;
    color: white;
    text-decoration: none;
    padding: 10px;
    padding-left: 47px;
}

body{
    background-color: rgb(90, 90, 90);
}

.header-home{
    width: 100%;
    color: white;
}