.footer {
  background: #111827;   
  color: #fff;
  padding: 20px 10px;
  margin-top: 0px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
}

.footer-text {
  font-size: 14px;
  margin: 5px 0;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: #9ca3af;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
}
.github{
    color: white;
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .footer-links {
    justify-content: center;
    gap: 15px;
  }

  .footer-text {
    font-size: 13px;
  }
}
