nav{
    height: 47px;
    width: 100%;
    background-color: black;

}

.nav-home{
    display: flex;
    align-items: center;
}

nav a{
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    padding-left: 22px;
    color: white;
    text-decoration: none;
}

body{
    background-color: rgb(90, 90, 90);
}
