/* src/styles/Dark.css */

body {
  background-color: white;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
  height: 100px
}

body.dark-mode {
  background-color: #121212 !important;
  color: white !important;
  height: 100px
}
