.btn-animated {
  background: linear-gradient(270deg, #ff4d6d, #4f46e5, #22d3ee, #fbbf24);
  background-size: 800% 800%;  
  animation: gradientShift 8s ease infinite; 
  
  color: #fff;
  font-weight: bold;
  height: 100vh;
  padding: 12px 8px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
/* Efeito hover extra */
/*
.btn-animated:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

/* Keyframes para animar o gradiente */
/*
@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
*/