.nav-invest{
    width: 100%;
    height: 47px;
    padding-top: 10px;
    background-color: #111827;
    text-align: none;
    color: white;
}

.nav-invest ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    font-size:large;
}

.nav-invest li a{ 
  cursor: pointer;
  color: white;
  text-decoration: none !important;
}
